<div class="sidebar" [class.collapsed]="collapsed">
  <!-- Toggle button uses icon from TS -->
  <button class="toggle-btn" (click)="toggleSidebar()" aria-label="Toggle Sidebar">
    <i [class]="toggleIcon"></i>
  </button>

  <ul class="menu">
    <li *ngFor="let item of menuItems">
      <a
        [routerLink]="item.link"
        [title]="collapsed ? item.label : ''"
        [class.disabled]="collapsed"
        (click)="collapsed && $event.preventDefault()"
      >
        <!-- Icon fully from TS -->
        <i [class]="item.icon"></i>
        <span *ngIf="!collapsed">{{ item.label }}</span>
      </a>
    </li>
  </ul>
</div>
