<table class="table">
  <thead>
    <tr>
      <th class="col-id">ID</th>
      <th class="col-name">Name</th>
      <th class="col-price">Price</th>
      <th class="col-actions">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price | currency }}</td>
      <td class="actions">
        <app-button variant="secondary" (click)="onEdit(product)" label="Edit"></app-button>
        <app-button 
          variant="danger" 
          type="button" 
          (click)="openDeleteModal(product.id)" 
          label="Delete">
        </app-button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Delete Confirmation Modal -->
<app-base-modal #deleteModal (closed)="onModalClosed()">
  <h3>Confirm Delete</h3>
  <p>Are you sure you want to delete this product?</p>
  <div class="modal-buttons">
    <app-button variant="secondary" class="btn cancel" (click)="deleteModal.close()" label="Cancel"></app-button>
    <app-button variant="danger" class="btn delete" (click)="confirmDelete()" label="Confirm"></app-button>
  </div>
</app-base-modal>
