<ng-container *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="base-form">
    <div *ngFor="let field of fields" class="form-field">
      <label>{{ field.placeholder }}</label>

      <input
        *ngIf="field.type !== 'select' && field.type !== 'textarea'"
        [type]="field.type"
        [formControlName]="field.name"
        [placeholder]="field.placeholder"
        [class.invalid]="
          getControl(field.name)?.touched && getControl(field.name)?.invalid
        "
      />

      <textarea
        *ngIf="field.type === 'textarea'"
        [formControlName]="field.name"
        [placeholder]="field.placeholder"
        [class.invalid]="
          getControl(field.name)?.touched && getControl(field.name)?.invalid
        "
      ></textarea>

      <select
        *ngIf="field.type === 'select'"
        [formControlName]="field.name"
        [class.invalid]="
          getControl(field.name)?.touched && getControl(field.name)?.invalid
        "
      >
        <option value="">Select...</option>
        <option *ngFor="let opt of field.options" [value]="opt.value">
          {{ opt.label }}
        </option>
      </select>

      <div
        class="error"
        *ngIf="
          getControl(field.name)?.touched && getControl(field.name)?.invalid
        "
      >
        <small *ngIf="getControl(field.name)?.errors?.['required']">
          {{ field.placeholder }} is required
        </small>
        <small *ngIf="getControl(field.name)?.errors?.['minlength']">
          Minimum length: {{ field.minLength }}
        </small>
        <small *ngIf="getControl(field.name)?.errors?.['min']">
          Must be at least {{ field.min }}
        </small>
      </div>
    </div>

    <button type="submit" [disabled]="form.invalid">Submit</button>
  </form>
</ng-container>

<ng-template #loading>
  <div class="loading">Loading form...</div>
</ng-template>
