
<h2>Product Management</h2>
<div class="table-actions">

  <app-button
    *ngIf="!massEditMode"
    variant="primary"
    label="Add Product"
    (click)="goToAddProduct()"
  ></app-button>

  <app-button
    variant="secondary"
    [label]="massEditMode ? 'Cancel Edit' : 'Edit All'"
    (click)="toggleMassEdit()"
  ></app-button>
</div>

<app-editable-table
  [columns]="columns"
  [data]="products" 
  [massEditMode]="massEditMode"
  (saveAll)="saveAllChanges($event)"
  (delete)="openDeleteModal($event)"
  (edit)="openEdit($event)"
></app-editable-table>


<app-base-modal #deleteModal (closed)="onModalClosed()">
  <h3>Confirm Delete</h3>
  <p>Are you sure you want to delete this product?</p>
  <div class="modal-buttons">
    <app-button label="Cancel" variant="secondary" (click)="deleteModal.close()"></app-button>
    <app-button label="Delete" variant="danger" (click)="confirmDelete()"></app-button>
  </div>
</app-base-modal>
